[Unit]
Description=lighthouse beacon node (mainnet)
RequiresMountsFor=/data
Requires=data-reprovision.service
Wants=network-online.target
After=network-online.target data-reprovision.service

[Service]
User=lighthouse
Group=eth
ExecStart=/opt/swannynode/scripts/start_lighthouse_bn.sh
Restart=always
RestartSec=30s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lighthouse-bn

[Install]
WantedBy=multi-user.target
