[Unit]
Description=Reth holesky Service
After=network-online.target
Wants=network-online.target

[Service]
User=reth
ExecStart=/data/scripts/start_reth_holesky.sh
Restart=always
RestartSec=30s

# logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=reth-holesky

[Install]
WantedBy=multi-user.target