[Unit]
Description=Reth mainnet Service
After=network-online.target
Wants=network-online.target

[Service]
User=reth
ExecStart=/data/scripts/start_reth_mainnet.sh
Restart=always
RestartSec=30s

# logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=reth-mainnet

[Install]
WantedBy=multi-user.target